@charset "utf-8";

/* ------------VISUAL----------- */
.visual{
  position: relative;
  background-image: url('/project/starbucks/images/visual_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32vw;
  min-height: 400px;
}
.visual .inner > div{
  opacity: 0;
}
.visual .inner{
  position: unset;
  height: 100%;
}
.visual .title{
  position: absolute;
  top: 30%;
  width: 23%;
  left: 11.25%;
  text-align: center;
}
.visual img{
  width: 100%;
}
.visual .title img{
  margin-bottom: 30px;
}
.visual .item_01{
  position: absolute;
  z-index: 8;
  top: 11.65%;
  left: 43.15%;
  width: 14.65%;
}
.visual .item_02{
  position: absolute;
  z-index: 9;
  top: 14.706%;
  left: 54.7%;
  width: 14.5%;
}
.visual .item_03{
  position: absolute;
  z-index: 8;
  top: 22.91%;
  left: 66.15%;
  width: 14.2%;
}

/* ------------NOTICE----------- */
.notice{
  overflow: hidden;
}
.notice .notice_line{
  position: relative;
  height: 62px;
}
.notice .notice_line .bg_left{
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%; 
  background-color: #111;
}
.notice .notice_line .bg_right{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice_line .inner{
  height: 100%;
  display: flex;
  text-wrap: nowrap;
}
.notice .notice_line .inner h2{
  font-size: 18px;
  font-weight: 600;
}
.notice .notice_line .inner > div{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.notice .notice_line .inner_left{
  background-color: #111;
  width: 60%;
  color: #fff;
}
.notice .notice_line .inner_left span{
  font-size: 36px;
  color: #fff;
}
.notice .notice_line .inner_right{
  background-color: #f6f5ef;
  width: 40%;
  color: #333;
}
.notice .notice_line .inner_right span{
  font-size: 36px;
  color: #333;
}
.notice .notice_more{
  margin-left: auto;
}
.mySwiper1{
  height: 30px;
}
.mySwiper1 a{
  display: block;
  line-height: 30px;
  font-size: 14px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

/* ------------PROMOTION----------- */
.promotion{
  height: 658px;
  overflow: hidden;
  background-color: #f6f5ef;
}
.promotion .mySwiper2{
  overflow: visible;
  text-align: center;
  top: 40px;
  width: 850px;
}
.promotion .mySwiper2 .swiper-slide {
  background: #fff;
  width: 850px !important;
  height: 530px !important;
  opacity: 0.4;
}
.promotion .mySwiper2 .swiper-slide-active {
  opacity: 1;
}
.promotion .mySwiper2 .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion .mySwiper2 .swiper-slide a{
  margin: -50px auto 0;
  position: relative;
  z-index: 100;
}

/* Swiper 기본 화살표 제거 */
.mySwiper2 .swiper-button-next::after,
.mySwiper2 .swiper-button-prev::after {
  content: "";
}
.mySwiper2 .swiper-button-next {
  background: url('/project/starbucks/images/arrow_right.png') no-repeat center;
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  right: -80px;
}
.mySwiper2 .swiper-button-prev {
  background: url('/project/starbucks/images/arrow_left.png') no-repeat center;
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  left: -80px;
}
.mySwiper2 .swiper-button-next:hover, 
.mySwiper2 .swiper-button-prev:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 0.5s;
}
/* 페이지네이션 스타일 */
.mySwiper2 .swiper-pagination{
  position: absolute;
  bottom: -60px;
}
.mySwiper2 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  opacity: 0.5;
}
.mySwiper2 .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
  border: 3px solid #006d40;
  box-sizing: border-box;
}

/* ------------REWARDS----------- */
.rewards{
  background-color: #1e3932;
  color: #fff;
}
.rewards .inner{
  display: flex;
  padding: 40px;
}
.rewards .inner .rewards_logo{
  display: flex;
  align-items: center;
}
.rewards .inner .rewards_logo img{
  width: 175px;
}
.rewards .btn.btn--white:hover{
  background-color: transparent;
  color: #fff;
}
.rewards .inner .rewards_txt{
  width: 100%;
  margin-left: 40px;
}
.rewards .rewards_top{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4b615b;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.rewards .rewards_top h2{
  font-size: 26px;
  margin-bottom: 12px;
}
.rewards .rewards_top p{
  font-size: 17px;
  line-height: 24px;
}
.rewards .rewards_bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.rewards .rewards_bottom p{
  font-size: 15px;
  line-height: 20px;
}
.rewards .rewards_btn{
  margin-top: 20px;
}

/* ------------SEASON----------- */
.season{
  background: url("/project/starbucks/images/season_bg.png") center/cover no-repeat;
  width: 100%;
  height: 578px;
  overflow: hidden;
}
.season .inner > img{
  position: absolute;
  top: 100px;
  left: 260px;
}
.season .inner > div{
  position: absolute;
  top: 200px;
  right: 0;
}
.season .inner > div a{
  margin-top: 40px;
}
/* ------------COSTA----------- */
.costa{
  background: url("/project/starbucks/images/reserve_costa_bg.jpg") center/cover no-repeat;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.costa .inner > img{
  position: absolute;
  top: 20px;
  right: 60px;
}
.costa .inner > div{
  position: absolute;
  top: 80px;
  left: 60px;
}
.costa .inner > div a{
  margin-top: 40px;
  margin-left: 230px;
}

/* ------------PICK----------- */
.pick{
  background: url("/project/starbucks/images/pick_bg.png") no-repeat center center fixed;
  background-size: auto 87%;
  width: 100%;
  height: 800px;
  background-position: bottom;
  overflow: hidden;
}
.pick .pick_txt{
  position: absolute;
  width: 370px;
  text-align: right;
  top: 150px;
}
.pick .pick_txt img{
  display: inline-block;
  width: auto;
  margin-bottom: 40px;
}
.pick .pick_img{
  position: absolute;
  width: 944px;
  top: 90px;
  right: -250px;
}

/* ------------MAGAZINE----------- */
.magazine{
  background: url("/project/starbucks/images/magazine_bg.png") no-repeat 50% 100%;
  background-size: auto 353px;
  height: 400px;
  overflow: hidden;
}
.magazine .inner > img{
  position: absolute;
  right: 60px;
}
.magazine .inner > div{
  position: absolute;
  top: 120px;
  left: 130px;
}
.magazine .inner > div a{
  margin-top: 40px;
  margin-left: 230px;
}

/* ------------STORE----------- */
.store{
  background: url("/project/starbucks/images/store_bg.jpg") center/cover no-repeat;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.store .inner > img:nth-of-type(1){
  position: absolute;
  top: 150px;
  left: 280px;
  z-index: 20;
}
.store .inner > img:nth-of-type(2){
  position: absolute;
  left: 50px;
}
.store .inner > img:nth-of-type(3){
  position: absolute;
  top: -60px;
  left: 430px;
}
.store .inner > img:nth-of-type(4){
  position: absolute;
  top: 300px;
  right: -80px;
}
.store .inner > div{
  position: absolute;
  top: 100px;
  right: 80px;
}
.store .inner > div img:first-of-type{
  margin-bottom: 20px;
}
.store .inner > div a{
  margin-top: 40px;
}







